<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Simple Form</h1>
	<form id="myForm" action="{{ url_for('submit') }}" method="POST">
    	<label for="placeInput1">Place 1:</label>
    	<input type="text" id="placeInput1" name="place1">
	    <label for="placeInput2">Place 2:</label>
	    <input type="text" id="placeInput2" name="place2">
	    <input type="submit" id="submitButton" value="Submit">
	</form>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

